<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dalvu.www.dalvyou">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/dalv_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dalv_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.StatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activity.line.LineDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.line.LineDetailPictureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.line.LineChangepriceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.line.LineAssortmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.line.LineDestineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdviserEnrollActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VisitorEnrollActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personaldata.SupplierQueryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personaldata.MyVisitorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personaldata.VisitorListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.order.LineOrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bill.BillItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bill.RechargeAskforActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bill.GetCashAskforActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bill.ReceiptAskforActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.bill.ContractAskforActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.line.LineListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personaldata.PersonalReviseDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personaldata.PersonalRevisePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personaldata.PersonalSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personaldata.PersonalProposeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.line.LineGroupDateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.My"></activity>
        <activity
            android:name=".activity.personaldata.MyAdviserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.line.LineChangeNameActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>