<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dalvu.www.dalvyou">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StartActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.StatusActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity android:name=".activity.line.LineDetailActivity" />
        <activity android:name=".activity.line.LineDetailPictureActivity" />
        <activity android:name=".activity.line.LineChangepriceActivity" />
        <activity android:name=".activity.line.LineAssortmentActivity" />
        <activity android:name=".activity.line.LineDestineActivity" />
        <activity android:name=".activity.AdviserEnrollActivity" />
        <activity android:name=".activity.VisitorEnrollActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.personaldata.SupplierQueryActivity" />
        <activity android:name=".activity.personaldata.MyVisitorActivity" />
        <activity android:name=".activity.personaldata.VisitorListActivity" />
        <activity android:name=".activity.order.LineOrderDetailActivity" />
        <activity android:name=".activity.bill.BillItemActivity" />
        <activity android:name=".activity.bill.RechargeAskforActivity" />
        <activity android:name=".activity.bill.GetCashAskforActivity" />
        <activity android:name=".activity.bill.ReceiptAskforActivity" />
        <activity android:name=".activity.bill.ContractAskforActivity" />
        <activity android:name=".activity.line.LineListActivity" />
        <activity android:name=".activity.personaldata.PersonalReviseDataActivity" />
        <activity android:name=".activity.personaldata.PersonalRevisePasswordActivity" />
        <activity android:name=".activity.personaldata.PersonalSettingActivity" />
        <activity android:name=".activity.personaldata.PersonalProposeActivity" />
        <activity android:name=".activity.line.LineGroupDateActivity" />
        <activity android:name=".activity.personaldata.MyAdviserActivity"></activity>
    </application>

</manifest>